<style media="screen">
  .day{
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
</style>
<h1>Hello</h1>
  <input id="instructorFilter" type="text" name="name" />
<div class="schedule">
  {{#each data}}
    <div class="day">
    <p>{{date}}, {{time}}, {{classroom}}</p>
    <p>{{title}}</p>
    <p>{{lead}}</p>
    <p>{{support}}</p>
  </div>
  {{/each}}
</div>
<script type="text/javascript">
  instructorFilter.addEventListener("change",(e)=>{
    e.preventDefault();
    instructor = instructorFilter.value;
    console.log(instructor);
  })
</script>
